.cus {
    padding: 6px;
}

input[type="checkbox"] {
    width: 1.3em;
    height: 1.3rem;
    accent-color: #B3DB7D !important;
    --border-radius: 44px;
    border-radius: 44px;
  }

.cust_l {
    margin: 3px;
    background-color: #ff3131c9;
}

.cust_l:enabled:hover {
    background-color: #FF3131 !important;
}


.cust_r {
    margin: 3px;
    background-color: #5FBB3A;
}

.cust_r_cus {
    margin: 3px;
    background-color: #B3DB7D;
    color: #fff;
}

.cust_r_cus:enabled:hover {
    background-color: #5FBB3A;
}

.texReco {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 50px;
}

.boldClass {
    font-weight: bold !important;
}

.arow {
    display: flex;
    align-items: center;
}

table {
    border-collapse: collapse;
    /* Asegura que no haya espacios entre las celdas */

}

#thirdTable table {
    border: none;
    width: 25rem;
}
#thirdTable td {
    padding: 8px;
    color: #000;
    border: none;
    margin-left: 105px;

}
#thirdTable th {
    color: #000;
    border: none;

}
#thirdTable thead {

    height: 35px;
    background: #B3DB7D !important;
    border-radius: 8px !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.btnCustonCRUD {
    background-color: #D9D9D9 !important;
    width: 18px;
    height: 18px !important;
    text-align: center;
    color: white;
    border-radius: 3px;
}