<div class="grid">
    <div class="col-12">
        <div class="card">
            <h1 style="text-align: center; font-weight: 500; color: #545454;">SEGUIMIENTO DE PROYECTOS</h1><br>
            <p-table #dt2 [value]="customers1" rowGroupMode="subheader" dataKey="id" [rows]="10" sortMode="single"
                scrollDirection="both" [scrollable]="true" scrollHeight="550px" responsiveLayout="scroll"
                [loading]="loading" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-gridlines "
                [paginator]="true"
                [globalFilterFields]="['Estado','Gerencia','clienteNombre','contrato','direccion','duracion','fecha_final','fecha_inicio','gerente','iDproyecto','idDireccion','idEtado','idGerencia','idUsuario','nitClente','nombreProyecto','objeto','valor_final','valor_inicial']"
                responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter2(dt2, $event)"
                                placeholder="Buscar" class="w-full" />
                        </span>
                        <button pButton label="Añadir" class="p-button-outlined mb-2" icon="pi pi-plus-circle"
                            (click)="display = true"></button>
                        <button pButton label="Limpiar" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                            (click)="clear(dt2)"></button>
                        <!-- <p-toggleButton [(ngModel)]="idFrozen" [onIcon]="'pi pi-lock'" offIcon="pi pi-lock-open" [onLabel]="'Desbloquear'" offLabel="Bloquear" [style]="{'width': '12rem'}"></p-toggleButton> -->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>


                        <th pSortableColumn="iDproyecto" style="min-width: 16rem">

                            <div class="flex justify-content-between align-items-center">
                                ID PROYECTO
                                <p-columnFilter type="text" field="iDproyecto" display="menu"
                                    placeholder="Buscar por nombre de proyecto"></p-columnFilter>
                                <p-sortIcon field="iDproyecto"></p-sortIcon>
                            </div>

                        </th>
                        <th pSortableColumn="Estado" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                ESTADO
                                <p-columnFilter type="text" field="Estado" min=0 display="menu"
                                    placeholder="Buscar por Documento de estado"></p-columnFilter>
                                <p-sortIcon field="Estado"></p-sortIcon>
                            </div>

                        </th>
                        <th pSortableColumn="nombreProyecto" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                NOMBRE
                                <p-columnFilter type="text" field="nombreProyecto" display="menu"
                                    placeholder="Buscar por nombre"></p-columnFilter>
                                <p-sortIcon field="nombreProyecto"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="contrato" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                N° CONTRATO
                                <p-columnFilter type="text" field="contrato" display="menu"
                                    placeholder="Buscar por contrato"></p-columnFilter>
                                <p-sortIcon field="contrato"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="objeto" style="min-width: 30rem">
                            <div class="flex justify-content-between align-items-center">
                                OBJETO
                                <p-columnFilter type="text" field="objeto" display="menu"
                                    placeholder="Buscar por objeto"></p-columnFilter>
                                <p-sortIcon field="objeto"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="clienteNombre" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                CLIENTE
                                <p-columnFilter type="text" field="clienteNombre" display="menu"
                                    placeholder="Buscar por razon social"></p-columnFilter>
                                <p-sortIcon field="clienteNombre"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="Gerencia" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                GERENCIA
                                <p-columnFilter type="text" field="Gerencia" display="menu"
                                    placeholder="Buscar por gerencia"></p-columnFilter>
                                <p-sortIcon field="Gerencia"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="gerente" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                GERENTE
                                <p-columnFilter type="text" field="gerente" display="menu"
                                    placeholder="Buscar por gerente"></p-columnFilter>
                                <p-sortIcon field="gerente"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="valor_inicial" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                VALOR INICIAL
                                <p-columnFilter type="numeric" field="valor_inicial" display="menu"
                                    currency="COP"></p-columnFilter>
                                <p-sortIcon field="valor_inicial"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="valor_final" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                VALOR FINAL
                                <p-columnFilter type="numeric" field="valor_final" display="menu"
                                    currency="COP"></p-columnFilter>
                                <p-sortIcon field="valor_final"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="duracion" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                DURACIÓN
                                <p-columnFilter type="numeric" field="duracion" display="menu"
                                    placeholder="Buscar por duracion"></p-columnFilter>
                                <p-sortIcon field="duracion"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="fecha_inicio" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                FECHA INICIO
                                <p-columnFilter type="date" field="fecha_inicio" display="menu"
                                    placeholder="mm/dd/yyyy"></p-columnFilter>
                                <p-sortIcon field="fecha_inicio"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="fecha_final" style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                FECHA FIN
                                <p-columnFilter type="date" field="fecha_final" display="menu"
                                    placeholder="mm/dd/yyyy"></p-columnFilter>
                                <p-sortIcon field="fecha_final"></p-sortIcon>
                            </div>
                        </th>
                        <th style="min-width: 16rem">
                            <div class="flex justify-content-between align-items-center">
                                ACCIONES

                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customers1>
                    <tr>
                        <td>
                            {{customers1.iDproyecto}}
                        </td>
                        <td>
                            {{customers1.Estado}}
                        </td>
                        <td>
                            {{customers1.nombreProyecto}}
                        </td>
                        <td>
                            {{customers1.contrato}}
                        </td>
                        <td>
                            {{customers1.objeto}}
                        </td>
                        <td>
                            {{customers1.clienteNombre}}
                        </td>
                        <td>
                            {{customers1.Gerencia}}
                        </td>
                        <td>
                            {{customers1.gerente}}
                        </td>
                        <td>
                            {{formatCurrency(customers1.valor_inicial)}}
                        </td>
                        <td>
                            {{formatCurrency(customers1.valor_final)}}
                        </td>
                        <td>
                            {{customers1.duracion}}
                        </td>
                        <td>
                            {{customers1.fecha_inicio | date: 'dd/MM/yyyy HH:mm'}}
                        </td>
                        <td>
                            {{customers1.fecha_final | date: 'dd/MM/yyyy HH:mm'}}
                        </td>
                        <td>
                            <!-- (click)="onViewDataProyect(Customers1.id_usuario, $event)" -->
                            <button pButton pRipple type="button" icon="pi pi-eye"
                                class="p-button-outline p-button-success cus"></button>
                            <!-- (click)="onPutCustomers1(Customers1)" -->
                            <button pButton pRipple type="button" icon="pi pi-pencil"
                                class="p-button-outlined p-button-info cus"></button>
                            <!-- (click)="onPutStatususER(customers1.id_usuario, customers1.estado_cuenta)" -->
                            <p-inputSwitch class="cus" [ngModel]="customers1.estadoProyecto === 1"
                                (ngModelChange)="customers1.estadoProyecto = $event ? 1 : 0"
                                inputId="customerSwitch"></p-inputSwitch>

                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No se encontrar datos.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Cargando datos. Espere por favor.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!-- modal para Añadir  -->
<p-dialog [modal]="true" [(visible)]="display" [style]="{ width: '45vw' }" [maximizable]="true" [draggable]="false">
    <div class="modalCustomer flex align-items-center justify-content-center">

        <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center h-4rem  m-2">
                <div class="flex overflow-hidden">
                    <div class="flex-grow-1 flex align-items-center justify-content-center">
                        <h4 class="texReco">CREAR PROYECTO</h4>
                    </div>
                </div>

            </div>

    <p-divider align="left" type="solid" [style]="{'width':'32rem', 'border': '1.8px solid', 'background': '#000'}"></p-divider>


            <div class="formgrid grid">
                <div class="field col">

                </div>
                <div class="field col">


                </div>
                <p-messages [(value)]="msgs"></p-messages>

            </div>


            <div class="flex align-items-center justify-content-center">
                <!--   <button pButton pRipple type="button" icon="pi pi-arrow-left" (click)="triggerModal(false)" iconPos="left" label="Atras"  class="p-button-success cust_l"></button>
                <button pButton pRipple type="button" icon="pi pi-check" (click)="onSetDataRole()" iconPos="left" label="Guardar"   class="p-button-success cust_r"></button> -->
            </div>
        </div>





    </div>
</p-dialog>

<!-- modal para Editar  -->
<!--<p-dialog [modal]="true" [(visible)]="displayEdit" [style]="{ width: '60vw' }" [maximizable]="true" [draggable]="false">
    <div class="modalCustomer flex align-items-center justify-content-center">

            <div class="flex flex-column">
                <div class="flex align-items-center justify-content-center h-4rem  m-2">
                    <div class="flex overflow-hidden">
                        <div class="flex-grow-1 flex align-items-center justify-content-center">
                            <h4 class="texReco">EDITAR ROL / PERMISOS</h4>
                        </div>
                    </div>
                </div>

				&lt;!&ndash; [ngClass]="{ 'invisble':otpView === false, 'visble':otpView === true} &ndash;&gt;
				<div class="formgrid grid">
					<div class="field col">
						<span class="p-float-label">
							<input id="float-input" type="text" [(ngModel)]="putDataRole.nombreRol" pInputText>
							<label for="float-input">Nombre del rol</label>
						</span>
					</div>
					<div class="field col">
						<div id="thirdTable">
							<table>
							<thead>
								<tr>
									<th style="-webkit-border-radius: 8px 0px 0px 8px">Menú</th>
									<th style="-webkit-border-radius: 0px 8px 8px 0px;padding-left: 80px;">Permisos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td style="display: flex;">
										<div class="btnCustonCRUD"  tooltipPosition="top" placeholder="Top" pTooltip="Create"  tooltipPosition="top" placeholder="Top" >C</div> &nbsp;&nbsp;&nbsp;&nbsp;
										<div class="btnCustonCRUD"  tooltipPosition="top" placeholder="Top" pTooltip="Read"    tooltipPosition="top" placeholder="Top" > R</div>&nbsp;&nbsp;&nbsp;&nbsp;
										<div class="btnCustonCRUD"  tooltipPosition="top" placeholder="Top" pTooltip="Update"  tooltipPosition="top" placeholder="Top" >U</div>&nbsp;&nbsp;&nbsp;&nbsp;
										<div class="btnCustonCRUD"  tooltipPosition="top" placeholder="Top" pTooltip="Delete"  tooltipPosition="top" placeholder="Top" >D</div>
									</td>
								</tr>

								<tr *ngFor="let item of DaoMenu" style="    background: #EDEDED;">
									<td [ngClass]="{'boldClass': item.id_menu_padre === '0'}"  style="-webkit-border-radius: 8px 0px 0px 8px">{{item.menu}}</td>

									<td style="-webkit-border-radius: 0px 8px 8px 0px;" *ngIf=" item.id_menu_padre === '0' " [ngClass]="{'boldClass': item.id_menu_padre === '0'}"></td>

									<td style="-webkit-border-radius: 0px 8px 8px 0px;" *ngIf="item.id_menu_padre !== '0'" class="arow">
										<input type="checkbox" name="" id="{{item.id_menu}}" (click)="addRemovePermissions(item.id_menu, 1,$event.target.checked)" [checked]="item.permiso_1 === '1'">&nbsp;&nbsp;&nbsp;
										<input type="checkbox" name="" id="{{item.id_menu}}" (click)="addRemovePermissions(item.id_menu, 2,$event.target.checked)" [checked]="item.permiso_2 === '2'">&nbsp;&nbsp;&nbsp;
										<input type="checkbox" name="" id="{{item.id_menu}}" (click)="addRemovePermissions(item.id_menu, 3,$event.target.checked)" [checked]="item.permiso_3 === '3'">&nbsp;&nbsp;&nbsp;
										<input type="checkbox" name="" id="{{item.id_menu}}" (click)="addRemovePermissions(item.id_menu, 4,$event.target.checked)" [checked]="item.permiso_4 === '4'">&nbsp;&nbsp;
									  </td>
								</tr>

							</tbody>
						</table>
						</div>
					</div>

					<p-messages [(value)]="msgs"></p-messages>

				</div>


            <div class="flex align-items-center justify-content-center">
                <button pButton pRipple type="button" icon="pi pi-arrow-left" (click)="triggerModal(false)" iconPos="left" label="Atras"  class="p-button-success cust_l"></button>
                <button pButton pRipple type="button" icon="pi pi-check" (click)="SendServer()" iconPos="left" label="Guardar"   class="p-button-success cust_r"></button>
            </div>
            </div>





    </div>
</p-dialog>-->

<!-- modal para Solo Ver  -->
<!--<p-dialog [modal]="true" [(visible)]="displayVIew" [style]="{ width: '50vw' }" [maximizable]="true" [draggable]="false">
    <div class="modalCustomer flex align-items-center justify-content-center">

            <div class="flex flex-column">
                <div class="flex align-items-center justify-content-center h-4rem  m-2">
                    <div class="flex overflow-hidden">
                        <div class="flex-grow-1 flex align-items-center justify-content-center">
                            <h4 class="texReco">EDITAR ROL / PERMISOS</h4>
                        </div>
                    </div>
                </div>

				&lt;!&ndash; [ngClass]="{ 'invisble':otpView === false, 'visble':otpView === true} &ndash;&gt;
				<div class="formgrid grid">
					<div class="field col">
						<span class="p-float-label">
							<input id="float-input" type="text" disabled [(ngModel)]="putDataRole.nombreRol" pInputText>
							<label for="float-input">Nombre del rol</label>
						</span>
					</div>
					<div class="field col">
						<div id="thirdTable">
							<table>
							<thead>
								<tr>
									<th style="-webkit-border-radius: 8px 0px 0px 8px">Menú</th>
									<th style="-webkit-border-radius: 0px 8px 8px 0px;padding-left: 80px;">Permisos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td style="display: flex;">
										<div class="btnCustonCRUD"  tooltipPosition="top" placeholder="Top" pTooltip="Create"  tooltipPosition="top" placeholder="Top" >C</div> &nbsp;&nbsp;&nbsp;&nbsp;
										<div class="btnCustonCRUD"  tooltipPosition="top" placeholder="Top" pTooltip="Read"    tooltipPosition="top" placeholder="Top" > R</div>&nbsp;&nbsp;&nbsp;&nbsp;
										<div class="btnCustonCRUD"  tooltipPosition="top" placeholder="Top" pTooltip="Update"  tooltipPosition="top" placeholder="Top" >U</div>&nbsp;&nbsp;&nbsp;&nbsp;
										<div class="btnCustonCRUD"  tooltipPosition="top" placeholder="Top" pTooltip="Delete"  tooltipPosition="top" placeholder="Top" >D</div>
									</td>
								</tr>

								<tr *ngFor="let item of DaoMenu" style="    background: #EDEDED;">
									<td [ngClass]="{'boldClass': item.id_menu_padre === '0'}"  style="-webkit-border-radius: 8px 0px 0px 8px">{{item.menu}}</td>

									<td style="-webkit-border-radius: 0px 8px 8px 0px;" *ngIf=" item.id_menu_padre === '0' " [ngClass]="{'boldClass': item.id_menu_padre === '0'}"></td>

									<td style="-webkit-border-radius: 0px 8px 8px 0px;" *ngIf="item.id_menu_padre !== '0'" class="arow">
										<input type="checkbox" name="" class="custom-checkbox" id="{{item.id_menu}}" (click)="addRemovePermissions(item.id_menu, 1,$event.target.checked)" [checked]="item.permiso_1 === '1'" disabled readonly>&nbsp;&nbsp;&nbsp;
										<input type="checkbox" name="" class="custom-checkbox" id="{{item.id_menu}}" (click)="addRemovePermissions(item.id_menu, 2,$event.target.checked)" [checked]="item.permiso_2 === '2'" disabled readonly>&nbsp;&nbsp;&nbsp;
										<input type="checkbox" name="" class="custom-checkbox" id="{{item.id_menu}}" (click)="addRemovePermissions(item.id_menu, 3,$event.target.checked)" [checked]="item.permiso_3 === '3'" disabled readonly>&nbsp;&nbsp;&nbsp;
										<input type="checkbox" name="" class="custom-checkbox" id="{{item.id_menu}}" (click)="addRemovePermissions(item.id_menu, 4,$event.target.checked)" [checked]="item.permiso_4 === '4'" disabled readonly>&nbsp;&nbsp;
									  </td>
								</tr>

							</tbody>
						</table>
						</div>
					</div>

					<p-messages [(value)]="msgs"></p-messages>

				</div>


            <div class="flex align-items-center justify-content-center">
                <button pButton pRipple type="button" icon="pi pi-arrow-left" (click)="displayVIew = false" iconPos="left" label="Atras"  class="p-button-success cust_l"></button>
            </div>
            </div>





    </div>
</p-dialog>-->

<!-- modal para Añadir Usuarios -->
