<div class="grid">
    <div class="col-12">
        <div class="card">
            <!-- Utiliza el evento (click) para cambiar el paso al hacer clic en cada elemento del Steps -->
            <p-steps
                [model]="steps"
                [(activeIndex)]="activeIndex"
                [readonly]="false"
            >
                <ng-template let-item pTemplate="item">
                    <div (click)="changeTab(item.index)">
                        <b>{{ item.label }}</b>
                    </div>
                </ng-template>
            </p-steps>
            <br />
            <!-- p-tabView -->
            <p-tabView
                [(activeIndex)]="activeIndex"
                (onChange)="onTabChange($event)"
            >
                <ng-container *ngFor="let step of steps; let i = index">
                    <p-tabPanel
                        [header]="step.label"
                        [headerStyle]="{ display: 'none' }"
                    >
                        <!-- Contenido de cada pestaña -->
                        <ng-container *ngIf="i === activeIndex">
                            <!-- Muestra el contenido solo si la pestaña está activa -->
                            <ng-container [ngSwitch]="i">
                                <div *ngSwitchCase="0">
                                    <!-- Contenido de la primera pestaña (por ejemplo, Gerencia) -->
                                    <p>Contenido de Gerencia</p>
                                    <app-gerencia></app-gerencia>
                                </div>
                                <div *ngSwitchCase="1">
                                    <!-- Contenido de la segunda pestaña (por ejemplo, Dirección) -->
                                    <app-direccion></app-direccion>
                                </div>
                                <div *ngSwitchCase="2">
                                    <!-- Contenido de la tercera pestaña (por ejemplo, Ceco) -->
                                    <app-ceco></app-ceco>
                                </div>
                                <div *ngSwitchCase="3">
                                    <!-- Contenido de la tercera pestaña (por ejemplo, Ceco) -->
                                    <app-cliente></app-cliente>
                                </div>
                                <div *ngSwitchCase="4">
                                    <!-- Contenido de la tercera pestaña (por ejemplo, Ceco) -->
                                    <app-estado></app-estado>
                                </div>
                                <!-- Agrega más casos según sea necesario para las demás pestañas -->
                            </ng-container>
                        </ng-container>
                    </p-tabPanel>
                </ng-container>
            </p-tabView>
        </div>
    </div>
</div>
